<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjectYT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetVideosServlet</display-name>
    <servlet-name>GetVideosServlet</servlet-name>
    <servlet-class>projectYT.servlet.GetVideosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVideosServlet</servlet-name>
    <url-pattern>/GetVideosServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>projectYT.servlet.InitListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>GetUsersServlet</display-name>
    <servlet-name>GetUsersServlet</servlet-name>
    <servlet-class>projectYT.servlet.GetUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUsersServlet</servlet-name>
    <url-pattern>/GetUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>projectYT.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>projectYT.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>projectYT.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FollowUserServlet</display-name>
    <servlet-name>FollowUserServlet</servlet-name>
    <servlet-class>projectYT.servlet.FollowUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FollowUserServlet</servlet-name>
    <url-pattern>/FollowUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VideoServlet</display-name>
    <servlet-name>VideoServlet</servlet-name>
    <servlet-class>projectYT.servlet.VideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VideoServlet</servlet-name>
    <url-pattern>/VideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeVideoServlet</display-name>
    <servlet-name>LikeVideoServlet</servlet-name>
    <servlet-class>projectYT.servlet.LikeVideoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeVideoServlet</servlet-name>
    <url-pattern>/LikeVideoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentsServlet</display-name>
    <servlet-name>CommentsServlet</servlet-name>
    <servlet-class>projectYT.servlet.CommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentsServlet</servlet-name>
    <url-pattern>/CommentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LikeCommentServlet</display-name>
    <servlet-name>LikeCommentServlet</servlet-name>
    <servlet-class>projectYT.servlet.LikeCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LikeCommentServlet</servlet-name>
    <url-pattern>/LikeCommentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>projectYT.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>